body {
  width: 31cm;
}
.cy {
  display: inline-block;
  border: solid 1pt;
  width: 25cm;
  height: 6cm;
  padding: 3pt;
  margin: 1pt;
}

.sidebar {
  display: inline-block;
  width: 5cm;
  height: 6cm;
  border: solid 1pt;
  padding: 3pt;
  margin: 1pt;
}

h1 {
  color: green;
}