* {
  font-family: sans-serif;
}

body {
  background: black;
}

.cy {
  border: solid 1pt #2b2a2a;
  width: 80vh;
  height: 80vh;
  padding: 0px;
  margin: 10px 20px;
  float:left;
}

.sidebar {
  height:80vh;
  width:40vh;
  float:left;
  margin: 10px 0px;  
  border: solid 1pt #2b2a2a;
  color: lightgrey;
}

h1 {
  color: white;
  letter-spacing: 0.04em;
  font-size:14pt;
  margin-left:20px;
  padding-bottom:15px;
  margin-bottom:10px;
  border-bottom: 1px solid lightgrey;
}
