* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
}

body {
  background: black;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #f69047;
  width: 100%; 
  display: flex;
}

.title {
  font-size:14pt;
  font-weight: bold;
  color: #111;
  text-align: center;
  width: 80%;
  display: inline-block;
  line-height: 60px;
}

header .logo {
  padding: 8px;
  display: inline-block;
  width: 10%;
}

header .menu {
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

menu {
  display: none;
  position: relative;
  width: 200px;
  float:right;
  background:whitesmoke;
  margin: 0 20px;
  padding: 0;
}

ul.mainmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  padding: 12px;
}

li.menuitem:hover {
  color: #f69047;
}

#network-visualisation {
  border: solid 1pt #2b2a2a;
  width: 60vw;
  height: 90vh;
  padding: 0px;
  margin: 10px 20px;
  float:left;
}

/*sidebar*/

.inline {
  display: inline-block;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.elapsed {
  margin-top: 30px;
  color: #cc2200;
  font-size: 18px !important;
  font-style: italic;
  float: right;
  display: none;
}

.sidebar {
  height:90vh;
  width:30vw;
  float:left;
  margin: 10px 0px 10px 20px;  
  border: solid 1pt #2b2a2a;
  color: lightgrey;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar h3 {
  color: white;
  letter-spacing: 0.04em;
  font-size:14pt;
  padding-bottom:5px;
  margin-bottom:10px;
  border-bottom: 1px solid #2b2a2a;
}

.sidebar li {
  list-style: none;
  text-indent:0;
}

.actions {
  padding: 10px 10px 22px 0;
}

.action-btn:disabled{
  opacity: 0.4;
}

.action-btn-spacer {
  display: inline-block;
  width: 20px;
}

.action-btn-wrapper {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
}

.actions .icontext {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.actions button{
  background:white;
  padding:5px;
  border: solid 1pt lightgrey;
  color:lightgrey;
  cursor: pointer;
}

.counts{
  float:left;
  width:46%;
  padding-right:4%;
  margin-bottom:20px;
}

.counts-table td{
  width:50px;
  text-align: center;
  border: solid 1pt #2b2a2a;
  padding:10px;
}

.counts-table thead td{

}

.counts-table tbody td{
  font-size:30px;
}

.fixed-width{
  font-family: "Courier New", Courier, monospace
}

/*nodes*/
.selected {
  stroke-width:2px;
  stroke: pink;
  r:16px;
  fill: red;
}

.node-bar {
  display:none;
}

#error-messages {
  color: red;
  width: 100%;
  display: none;
  text-align: center;
  padding-top: 6px;
}

#status-messages {
  color: green;
  width: 100%;
  display: none;
  text-align: center;
  padding-top: 6px;
}

.kademlia-info,
.node-info {
  font-size: 12px;
}

.stale {
  opacity: 0.4;
}

.nodes {
}

.new-node {
  fill: green;
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.existing-node {
  fill: blue;
}

#output-window {
  width: 100%;
  top: 98vh; 
  bottom: 0;
  overflow: hidden;
  transition: all 1s;
  position: absolute;
  font-size: 10px;
  background-color: #333;
  opacity: 0.8;
  cursor: pointer;
  color: white;
}

#output-window.closepane {
  top: 80vh;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0.1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  position: absolute;
  width: 100%;
  z-index: 400;
  height: 100%;
  top: 0px;
  display:none; 
}

.close {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  background-color: white;  
  font-weight: bold;
  color: #f69047;
  border: 1px solid #f69047;
  position: absolute;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.dialogframe {
  padding: 6px;
  border: 10px solid #f69047;
  background-color: whitesmoke;
}

.selectelement {
  cursor: pointer;
}

.selectelement:hover {
  background-color: #f69047;
  color: white;
}

.ui-dialog {
  position: absolute;
  box-shadow: 4px 4px 4px #ccc;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

table.objectlist {
  border: 1px solid #ccc;
}

tr.selectelement td {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}

.nodeactions {
  display: inline-block;
  padding: 8px 8px;
  background-color: #f69047;
  color: #111;
  border: none;
}

@keyframes highlight {
 	0% {
 		stroke: #46bc99; /* lovely green colour */
 	}
 	100% {
 		stroke: #808080;
 	}
}

.highlight {
    animation: highlight 2s;
}

.label {
  font-size: 0.8em;
  display: inline-block;
}

#selected-simulation {
  font-style: oblique;
  display: inline-block;
}

line:hover {
  cursor: crosshair;
}
